#mainContainer{
    background-color: #CCCCCC;
    border-radius: 30px 30px 30px 30px;
    display: block;
    height: 430px;
    margin: 120px auto auto;
    padding: 40px 20px 20px;
    width: 240px;
}

#mainContainer #genericObjectTest input{
    background: none repeat scroll 0 0 #EFEFEF;
    color: #666666;
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
    height: 26px;
    margin-bottom: 26px;
    padding: 3px;
}

#mainContainer #genericObjectTest input:focus{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #333333;
    color: #000000;
}

#mainContainer #genericObjectTest input.error{
    border: 1px solid #F00;
}

#mainContainer #genericObjectTest span.error{
    color: #FF0000;
    display: block;
    font-size: 12px;
    margin-left: 4px;
    margin-top: -23px;
    position: absolute;
}

#mainContainer #genericObjectTest .formButtons{
    float: right;
    width: 150px;
}

#mainContainer #genericObjectTest .formButtons input{
    margin-left: 10px
}
